<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">i did stuff</h1>
            <p class="lead text-muted">
                it'd be nice if i did this involving dank meme
            </p>
  
            <p>
              <%= link_to 'it me?', about_path, class: 'btn btn-primary' %>
              <%= link_to 'blog', blogs_path, class: 'btn btn-secondary' %>
            </p>
  
    </div>
</section>