<div class="app-card-container">
    <h1>it me</h1>
        <div class="card">
            <hr>

        <div class="row">
            <div class="col-md-6">
        <%= image_tag "sweet green b e a n.jpg", width: 400, alt: "profile image", class: 'profile-img' %>
        </div>
    
        <div class="col-md-6">
            <p>
                According to all known laws
                of aviation,
                there is no way a bee
                should be able to fly.
                Its wings are too small to get
                its fat little body off the ground.
            </p>
            <p>
                The bee, of course, flies anyway
                because bees don't care
                what humans think is impossible.
                Yellow, black. Yellow, black.
                Yellow, black. Yellow, black.

            </p>
            
            <p>
                <button
                    class="btn btn-primary"
                    type="button"
                    data-toggle="collapse"
                    data-target="#jobHistory"
                    aria-expanded="false"
                    aria-controller="jobHistory"
                >
                    Job History
                </button>
                
                <button
                    class="btn btn-primary"
                    type="button"
                    data-toggle="collapse"
                    data-target="#education"
                    aria-expanded="false"
                    aria-controller="education"
                >
                    Education
                </button>
            </p>
            
            <p>
                <div class="collapse" id="jobHistory">
                    <div class="card card-block">
                        Jobs
                    </div>
                    <div class="card card-block">
                        mem
                    </div>
                </div>
                
                <div class="collapse" id="education">
                    <div class="card card-block">
                        school
                    </div>
                    <div class="card card-block">
                        google
                    </div>
                </div>
            </p>
            
            
            </div>
        </div>
    </div>
</div>



