<h1>it me</h1>

<hr>

<div class="row">
    <div class="col-md-6">
        <%= image_tag "sweet green b e a n.jpg", width: 400, alt: "profile image" %>
    </div>
    
    <div class="col-md-6">
        <p>
            According to all known laws
            of aviation,
            there is no way a bee
            should be able to fly.
            Its wings are too small to get
            its fat little body off the ground.
        </p>
        <p>
            The bee, of course, flies anyway
            because bees don't care
            what humans think is impossible.
            Yellow, black. Yellow, black.
            Yellow, black. Yellow, black.

        </p>
    </div>
</div>


