<div class="inner cover">
    <h1 class="cover-heading">I am sleepy</h1>
        <p class="lead">and this is the devcamp portfolio</p>
        <p class="lead">
        <%= link_to "frick", about_path, class: "btn btn-lg btn-secondary" %>
        </p>
</div>

