<div class="inner cover">
    <h1 class="cover-heading">incoherent screaming</h1>
        <p class="lead">and IIIIIII WILL ALWAYS! LOVE YOOOUUUUUUUUUUUUUUUUUUUUU</p>
        <p class="lead">
        <%= link_to "frick", about_path, class: "btn btn-lg btn-secondary" %>
        </p>
</div>

